.container {
  display: inline-block;
  .profile {
    margin-left:10px;
    font-size: 15px;
    top: -2px;
    display: inline-block;
    position: relative;
    &:hover {
      color: #d9007e;
    }
  }
}

.modal {
  .advanced {
    color: #d90034;
  }
  :global(.ant-modal-footer) {
    display: none;
  }
}